@model List<Sachin_452_Models.ViewModel.CartModel>

@{
    ViewBag.Title = "CartList";
    Layout = "~/Views/Shared/_LayoutUserPage.cshtml";
}
@if (TempData["success"] != null)
{
    <script>
            toastr.success('@TempData["success"]');
    </script>
}
@if (TempData["error"] != null)
{
    <script>
        toastr.error('@TempData["error"]');
    </script>
}

<h2>Your Cart</h2>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>
                    <input type="hidden" value="@item.ProductId" class="dynamic" name="ProductId" />
                    <input type="button" value="-" class="btnMinus btn btn-danger" data-itemid="@item.ProductId" />
                    <span id="quantity_@item.ProductId" class="dynamic" name="Quantity" value="@item.Quantity">@item.Quantity</span>
                    <input type="button" value="+" class="btnAdd btn btn-success" data-itemid="@item.ProductId" />
                </td>
                <td class="Item-price dynamic" name="Price">@item.Price</td>
                <td class="price dynamic" name="TotalPrice">@item.total</td>
                <td><a href="~/User/RemoveItemFromCart?id=@item.ProductId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<input type="button" name="submit" id="submit" value="submit" class="btn btn-outline-info" />


<script>
    $(document).ready(function () {


        $('.btnAdd').on('click', function () {
            var itemId = $(this).data('itemid');
            var element = $(this);
            var quantityElement = $('#quantity_' + itemId);
            var currentQuantity = parseInt(quantityElement.text());
            var Qunatity = parseInt(quantityElement.text())
            var actualQuantity = parseInt(Qunatity + 1);
            var _IncreaseQuantityModel = {
                actualQuantity: actualQuantity,
                itemId: itemId
            }
            $.ajax({
                url: '/User/IncreaseQuantity',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(_IncreaseQuantityModel),
                success: function (data) {
                    console.log(data);
                    if (data.a == 1) {
                        quantityElement.text(currentQuantity + 1);
                        var price = element.closest('tr').find('.Item-price').text();
                        var PriceElement = element.closest('tr').find('.price');
                        var price1 = (currentQuantity + 1) * price;
                        PriceElement.text(price1);
                        toastr.success("Quantity added! ")
                    }
                    else {
                        toastr.error("Quantity is not available")
                    }

                }
            })

        });

        $('.btnMinus').on('click', function () {
            var itemId = $(this).data('itemid');
            var quantityElement = $('#quantity_' + itemId);
            var currentQuantity = parseInt(quantityElement.text());
            if (currentQuantity > 0) {
                quantityElement.text(currentQuantity - 1);

            }

            var price = $(this).closest('tr').find('.Item-price').text();
            var PriceElement = $(this).closest('tr').find('.price');
            var price1 = (currentQuantity - 1) * price;
            PriceElement.text(price1)
        });



        $(document).on('click', '#submit', function () {
            console.log("clicked");
            var _OrderModelList = []
            var dynamic = document.querySelectorAll('.dynamic');
            for (var i = 0; i < dynamic.length; i = i + 4) {

                var object = {}
                for (var j = 0; j < 4; j++) {

                    var element = dynamic[i + j];
                    if (j == 0) {
                        var value = parseInt(element.value);
                    }
                    else {
                        var value = parseInt(element.textContent);
                        console.log("value :", value);
                    }
                    var name = element.getAttribute('name');
                    object[name] = value
                }
                _OrderModelList.push(object)
            }
            console.log(_OrderModelList)
            $.ajax({
                url: '/User/CartList',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(_OrderModelList),
                success: function (response) {

                    window.location.href = response.redirectTo;
                    setTimeout(function () {
                        console.log('After 3 seconds');
                    }, 5000);
                    toastr.success("Order Place SuccessFully");
                }

            })
        })
    });
</script>